.description{
    font-size: 16px;
}
.description__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.description__place{
    font-size: 39px;
    color: white;
    min-height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 4px;
    margin: 20px 0 10px;
    text-shadow: 0 0 10px rgb(0 0 0);
    padding-left: 10px;
}
.description__item{
    margin-bottom: 2px;
}
.description__item_title{
    font-weight: 700;
}
.photos__galery{
    max-width: 450px;
}
.description__liked{
    text-align: center;
    width: 300px;
    margin: 14px 0 20px;
    background-color: rgb(41, 128, 185);
    color: white;
    cursor: pointer;
    border-radius: 30px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}
.title{
    margin-left: 17px;
}
.coment__wrapper{
    background-color: #298097;
    padding: 30px 30px 30px 15px;;
    border-radius: 19px;
    margin-bottom: 40px;
}
.coment__form{
    max-width: 430px;
    margin: 40px 0;
}
.coment{
    display: flex;
    border-radius: 8px;
    margin-bottom: 9px;
    background-color: #ecf0f1;
}
.coment__ava{
    height: 90px;
    width: 90px;
    margin: 10px 20px 10px 7px;
}
.coment__name{
    font-size: 20px;
    font-weight: 500;
    color: #298097;
}
.coment__coment{
    margin: 3px 0 12px;
}
.coment__date{
    margin-bottom: 10px;
}
.photos__galery img{
    max-width: 250px;
}
.coment__otcenka{
    margin-bottom: 12px;
}
.coment__size{
    color: #9e9e9e;
    padding: 0 .75rem;
}
.pagination__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination{
    width: auto;
    margin: 0;
}
.no_coments{
    margin-bottom: 50px;
}
@media (max-width: 1000px){
    .description__wrapper{
        flex-direction: column;
    }
    .description__info{
        margin-bottom: 30px;
    }
}
@media (max-width: 530px){
    .description__liked{
        margin: 14px auto 20px;
    }
}