.intro{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 120px;
}
.intro h3{
    font-size: 43px;
}

.category{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 0px
}
.card__wrapper{
    margin: 0 16px 30px;
    width: 266px;
}
.cinema{
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-bottom: 5px;
    height: 100%;
}
.category__img{
    min-height: 185px;
    width: 100%;
    background-size: cover;
    background-position: center center
}
.liked{
    margin: 5px;
}
.name{
    margin: 18px 17px;
    font-size: 17px;
    color: #000;
}
.name_name {
    color: #000;
    font-size: 19px;
    margin-bottom: 9px;
    font-weight: 500;
}
a{
    text-decoration: none;
}
.pagination{
    text-align: center;
    width: 300px;
    margin: 14px auto 20px;
    background-color: rgb(41, 128, 185);
    color: white;
    cursor: pointer;
    border-radius: 30px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination h4{
    margin: 0;
}
.liked__delete{
    margin: 10px 5px 0;
}
@media (max-width: 1200px){
    .category{
        max-width: 894px;
    }
  }
  @media (max-width: 1011px){
    .card__wrapper{
        width: 250px;
    }
  }
  @media (max-width: 959px){
    .category{
        max-width: 678px;
    }
    .card__wrapper{
        width: 307px;
    }
  }
  @media (max-width: 772px){
    .category{
        max-width: 584px;
    }
    .card__wrapper{
        width: 260px;
    }
  }
  @media (max-width: 670px){
    .card__wrapper{
        width: 100%;
    }
  }
